<template>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="card card-signup">
        <form class="form" @submit.prevent="login">
          <p class="error" v-if="formError">{{ formError }}</p>
          <div class="header header-primary text-center">
            <h4>{{ title }}</h4>
            <div class="social-line">
              <a href="#pablo" class="btn btn-simple btn-just-icon">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-simple btn-just-icon">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-simple btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
          <p class="text-divider">{{ divider }}</p>
          <div class="content">

            <div class="input-group">
              <span class="input-group-addon">
                <i class="material-icons">email</i>
              </span>
              <div class="form-group is-empty">
                <input type="text" class="form-control" placeholder="Email..." v-model="formUsername" name="username" />
              </div>
            </div>

            <div class="input-group">
              <span class="input-group-addon">
                <i class="material-icons">lock_outline</i>
              </span>
              <div class="form-group is-empty">
                <input type="password" placeholder="Password..." class="form-control" v-model="formPassword" name="password" />
              </div>
            </div>

          </div>
          <div class="footer text-center">
            <button type="submit" class="btn btn-simple btn-primary btn-lg">{{ $t("forms.submit") }}</button>
          </div>
        </form>
      </div>
      <nuxt-link :to="link" class="btn btn-primary btn-lg center-block">{{ footerLink }}</nuxt-link>
    </div>

  </div>
</div>
</template>

<script>
export default {
  props: {
    page: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      formError: null,
      formUsername: '',
      formPassword: '',
      link: this.page === 'login' ? 'register' : 'login',
      title: this.$t(`${this.page}.title`),
      divider: this.$t(`${this.page}.divider`),
      footerLink: this.$t(`${this.page}.footer_link`)
    }
  },
  methods: {
    login () {
      this.$store.dispatch('login', {
        username: this.formUsername,
        password: this.formPassword
      })
      .then(() => {
        this.formUsername = ''
        this.formPassword = ''
        this.formError = null
      })
      .catch((e) => {
        this.formError = e.message
      })
    }
  }
}
</script>
