<template>
  <footer class="footer">
    <div class="container">
      <div class="copyright pull-right">
        &copy; 2017, made with <i class="fa fa-heart heart"></i> by <a href="https://www.linkedin.com/in/marcelorisoli/" target="_blank">Marcelo Risoli</a>
      </div>
    </div>
  </footer>
</template>
