<template>
  <nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
      <div class="navbar-header">
        <nuxt-link class="navbar-brand" to="/">Peladator</nuxt-link>
      </div>
    </div>
  </nav>
</template>
