<template>
  <div class="signup-page">
    <nuxt-header></nuxt-header>
    <div class="wrapper">
      <div class="header header-filter">
        <div class="container">
          <nuxt/>
        </div>
        <nuxt-footer></nuxt-footer>
      </div>
    </div>
  </div>
</template>

<script>
import NuxtHeader from '~components/Header.vue'
import NuxtFooter from '~components/Footer.vue'
export default {
  middleware: 'session',
  components: {
    NuxtHeader,
    NuxtFooter
  }
}
</script>

<style lang="sass" scoped>
.header
  background-image: url('/img/unauthenticated-bg.jpg')
  background-size: cover
  background-position: top center
</style>
