<template>
  <auth-card page="register"></auth-card>
</template>

<script>
import AuthCard from '~components/Auth-card.vue'
export default {
  layout: 'unauthenticated',
  components: {
    AuthCard
  }
}
</script>
